Webpay.Integration.CSharp/Webpay.Integration.CSharp/Service References/AdminWS/AdminService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataObjects.Webservice.CreateOrder" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataObjects.Webservice.CreateOrder" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://partnerweb.sveaekonomi.se/WebPayAdminService_Test/AdminService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataObjects.Webservice" />
  <xs:import schemaLocation="https://partnerweb.sveaekonomi.se/WebPayAdminService_Test/AdminService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CreateOrderInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressSelector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientOrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateAccountCreditDetails" nillable="true" type="tns:CreateAccountCreditDetails" />
      <xs:element minOccurs="0" name="CreatePaymentPlanDetails" nillable="true" type="tns:CreatePaymentPlanDetails" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataObjects.Webservice" name="CustomerIdentity" nillable="true" type="q1:CustomerIdentity" />
      <xs:element minOccurs="0" name="CustomerReference" nillable="true" type="xs:string" />
      <xs:element name="OrderDate" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataObjects.Webservice" minOccurs="0" name="OrderDeliveryAddress" nillable="true" type="q2:Address" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataObjects.Webservice" name="OrderRows" nillable="true" type="q3:ArrayOfOrderRow" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataObjects.Webservice" name="OrderType" type="q4:OrderType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateOrderInformation" nillable="true" type="tns:CreateOrderInformation" />
  <xs:complexType name="CreateAccountCreditDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaignCode" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateAccountCreditDetails" nillable="true" type="tns:CreateAccountCreditDetails" />
  <xs:complexType name="CreatePaymentPlanDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaignCode" nillable="true" type="xs:long" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataObjects.Webservice" minOccurs="0" name="CoCustomerIdentity" nillable="true" type="q5:CustomerIdentity" />
      <xs:element minOccurs="0" name="FixedMonthlyAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SendAutomaticGiroPaymentForm" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreatePaymentPlanDetails" nillable="true" type="tns:CreatePaymentPlanDetails" />
  <xs:complexType name="CreateOrderResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataObjects.Webservice" minOccurs="0" name="CustomerIdentity" nillable="true" type="q6:CustomerIdentity" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PendingReasons" nillable="true" type="q7:ArrayOfstring" />
      <xs:element minOccurs="0" name="SveaOrderId" type="xs:long" />
      <xs:element minOccurs="0" name="SveaWillBuyOrder" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateOrderResult" nillable="true" type="tns:CreateOrderResult" />
</xs:schema>