Webpay.Integration.CSharp/Webpay.Integration.CSharp/Service References/AdminWS/AdminService1014.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataObjects.Internal.Service.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataObjects.Internal.Service.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInvoicePaidToClientRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoicePaidToClientRow" nillable="true" type="tns:InvoicePaidToClientRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoicePaidToClientRow" nillable="true" type="tns:ArrayOfInvoicePaidToClientRow" />
  <xs:complexType name="InvoicePaidToClientRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdministrationFee" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CheckoutOrderId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ClientId" type="xs:long" />
      <xs:element minOccurs="0" name="CreditFee" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InvoiceId" type="xs:long" />
      <xs:element minOccurs="0" name="PaidToClientOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SveaOrderCreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SveaOrderId" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoicePaidToClientRow" nillable="true" type="tns:InvoicePaidToClientRow" />
</xs:schema>