Webpay.Integration.CSharp/Webpay.Integration.CSharp/Service References/AdminWS/AdminService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://partnerweb.sveaekonomi.se/WebPayAdminService_Test/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" />
  <xs:complexType name="GetPendingReasonsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q1:BasicResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="PendingReasons" nillable="true" type="q1:ArrayOfPendingReason" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPendingReasonsResponse" nillable="true" type="tns:GetPendingReasonsResponse" />
  <xs:complexType name="SearchAccountCreditsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q2:BasicResponse">
        <xs:sequence>
          <xs:element name="AccountCreditListItems" nillable="true" type="q2:ArrayOfAccountCreditListItem" />
          <xs:element name="ResultCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchAccountCreditsResponse" nillable="true" type="tns:SearchAccountCreditsResponse" />
  <xs:complexType name="GetAccountCreditsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q3:BasicResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountCredits" nillable="true" type="q3:ArrayOfAccountCreditItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAccountCreditsResponse" nillable="true" type="tns:GetAccountCreditsResponse" />
  <xs:complexType name="CancelAccountCreditAmountResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q4:BasicResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CancelAccountCreditAmountResponse" nillable="true" type="tns:CancelAccountCreditAmountResponse" />
  <xs:complexType name="CancelAccountCreditRowsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q5:BasicResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CancelAccountCreditRowsResponse" nillable="true" type="tns:CancelAccountCreditRowsResponse" />
</xs:schema>