Webpay.Integration.CSharp/Webpay.Integration.CSharp/Service References/AdminWS/AdminService29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webpayadminservice.svea.com/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" />
  <xs:import schemaLocation="http://webpayadminservice.svea.com/AdminService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/DataObjects.Internal.Service.Types" />
  <xs:complexType name="CancelAccountCreditAmountResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q1:BasicResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CancelAccountCreditAmountResponse" nillable="true" type="tns:CancelAccountCreditAmountResponse" />
  <xs:complexType name="CancelAccountCreditRowsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q2:BasicResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CancelAccountCreditRowsResponse" nillable="true" type="tns:CancelAccountCreditRowsResponse" />
  <xs:complexType name="ExtendOrderResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q3:BasicResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExtendOrderResponse" nillable="true" type="tns:ExtendOrderResponse" />
  <xs:complexType name="AccountCreditRegressReportResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q4:BasicResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Rows" nillable="true" type="q4:ArrayOfAccountCreditRegressReportDataRow" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountCreditRegressReportResponse" nillable="true" type="tns:AccountCreditRegressReportResponse" />
  <xs:complexType name="AccountingAgreementType25ReportResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q5:BasicResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Rows" nillable="true" type="q5:ArrayOfAccountingAgreementType25ReportDataRow" />
          <xs:element minOccurs="0" name="Summations" nillable="true" type="q5:ArrayOfAccountingAgreementType25Summation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountingAgreementType25ReportResponse" nillable="true" type="tns:AccountingAgreementType25ReportResponse" />
  <xs:complexType name="GetDebtInvoicesPaidToClientForReportResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q6:BasicResponse">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataObjects.Internal.Service.Types" minOccurs="0" name="Invoices" nillable="true" type="q7:ArrayOfInvoicePaidToClientRow" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDebtInvoicesPaidToClientForReportResponse" nillable="true" type="tns:GetDebtInvoicesPaidToClientForReportResponse" />
  <xs:complexType name="GetInvoicesPaidToClientForReportResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q8:BasicResponse">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataObjects.Internal.Service.Types" minOccurs="0" name="Invoices" nillable="true" type="q9:ArrayOfInvoicePaidToClientRow" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetInvoicesPaidToClientForReportResponse" nillable="true" type="tns:GetInvoicesPaidToClientForReportResponse" />
  <xs:complexType name="GetKickbackReportResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q10:BasicResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Kickbacks" nillable="true" type="q10:ArrayOfKickbackReportRow" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetKickbackReportResponse" nillable="true" type="tns:GetKickbackReportResponse" />
  <xs:complexType name="GetPendingReasonsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q11:BasicResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="PendingReasons" nillable="true" type="q11:ArrayOfPendingReason" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPendingReasonsResponse" nillable="true" type="tns:GetPendingReasonsResponse" />
  <xs:complexType name="SearchAccountCreditsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q12:BasicResponse">
        <xs:sequence>
          <xs:element name="AccountCreditListItems" nillable="true" type="q12:ArrayOfAccountCreditListItem" />
          <xs:element name="ResultCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchAccountCreditsResponse" nillable="true" type="tns:SearchAccountCreditsResponse" />
  <xs:complexType name="GetAccountCreditsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q13:BasicResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountCredits" nillable="true" type="q13:ArrayOfAccountCreditItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAccountCreditsResponse" nillable="true" type="tns:GetAccountCreditsResponse" />
  <xs:complexType name="GetClientIdResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q14:BasicResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetClientIdResponse" nillable="true" type="tns:GetClientIdResponse" />
</xs:schema>