Webpay.Integration.CSharp/Webpay.Integration.CSharp/Service References/AdminWS/AdminService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://partnerweb.sveaekonomi.se/WebPayAdminService_Test/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" />
  <xs:complexType name="GetPendingReasonsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q1:BasicRequest">
        <xs:sequence>
          <xs:element name="ClientId" type="xs:long" />
          <xs:element name="SveaOrderId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPendingReasonsRequest" nillable="true" type="tns:GetPendingReasonsRequest" />
  <xs:complexType name="CancelAccountCreditAmountRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q2:BasicRequest">
        <xs:sequence>
          <xs:element name="AmountIncVat" type="xs:decimal" />
          <xs:element name="ClientAccountCreditId" type="xs:long" />
          <xs:element name="ClientId" type="xs:long" />
          <xs:element name="Description" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CancelAccountCreditAmountRequest" nillable="true" type="tns:CancelAccountCreditAmountRequest" />
  <xs:complexType name="CancelAccountCreditRowsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" base="q3:BasicRequest">
        <xs:sequence>
          <xs:element name="CancellationRows" nillable="true" type="q3:ArrayOfCancellationRow" />
          <xs:element name="ClientAccountCreditId" type="xs:long" />
          <xs:element name="ClientId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CancelAccountCreditRowsRequest" nillable="true" type="tns:CancelAccountCreditRowsRequest" />
</xs:schema>