Webpay.Integration.CSharp/Webpay.Integration.CSharp/Service References/AdminWS/AdminService34.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataObjects.Enums" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataObjects.Enums" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webpayadminservice.svea.com/AdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="RowType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="AdjustmentRow" />
      <xs:enumeration value="GiftCard" />
      <xs:enumeration value="InvoiceFee" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RowType" nillable="true" type="tns:RowType" />
  <xs:simpleType name="AddressSource">
    <xs:restriction base="xs:string">
      <xs:enumeration value="External">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EndCustomerProvided">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Internal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Migrated">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BankIdSigned">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ClientProvided">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AddressSource" nillable="true" type="tns:AddressSource" />
  <xs:simpleType name="BillingReferenceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Purchase" />
      <xs:enumeration value="ContactPerson" />
      <xs:enumeration value="InvoiceReference" />
      <xs:enumeration value="CostCenter" />
      <xs:enumeration value="InvoiceRecipient" />
      <xs:enumeration value="LetterNumber" />
      <xs:enumeration value="AccountingNumber" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BillingReferenceType" nillable="true" type="tns:BillingReferenceType" />
</xs:schema>