Webpay.Integration.CSharp/Webpay.Integration.CSharp/Service References/AdminWS/AdminService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataObjects.Webservice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataObjects.Webservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webpayadminservice.svea.com/AdminService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DataObjects.Enums" />
  <xs:import schemaLocation="http://webpayadminservice.svea.com/AdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfOrderRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderRow" nillable="true" type="tns:OrderRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderRow" nillable="true" type="tns:ArrayOfOrderRow" />
  <xs:complexType name="OrderRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticleNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAmountIncludingVat" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="DiscountPercent" type="xs:decimal" />
      <xs:element name="NumberOfUnits" type="xs:decimal" />
      <xs:element minOccurs="0" name="PriceIncludingVat" nillable="true" type="xs:boolean" />
      <xs:element name="PricePerUnit" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataObjects.Enums" minOccurs="0" name="RowType" nillable="true" type="q1:RowType" />
      <xs:element minOccurs="0" name="TemporaryReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element name="VatPercent" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderRow" nillable="true" type="tns:OrderRow" />
  <xs:simpleType name="OrderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Invoice">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaymentPlan">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Loan">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AccountCredit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderType" nillable="true" type="tns:OrderType" />
  <xs:complexType name="ArrayOfOrderRowReferenceItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderRowReferenceItem" nillable="true" type="tns:OrderRowReferenceItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderRowReferenceItem" nillable="true" type="tns:ArrayOfOrderRowReferenceItem" />
  <xs:complexType name="OrderRowReferenceItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="RowNumber" type="xs:long" />
      <xs:element minOccurs="0" name="TemporaryReference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderRowReferenceItem" nillable="true" type="tns:OrderRowReferenceItem" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Locality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="CustomerIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyIdentity" nillable="true" type="tns:CompanyIdentity" />
      <xs:element name="CountryCode" nillable="true" type="xs:string" />
      <xs:element name="CustomerType" type="tns:CustomerType" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndividualIdentity" nillable="true" type="tns:IndividualIdentity" />
      <xs:element name="Locality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationalIdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublicKey" nillable="true" type="xs:string" />
      <xs:element name="Street" nillable="true" type="xs:string" />
      <xs:element name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerIdentity" nillable="true" type="tns:CustomerIdentity" />
  <xs:complexType name="CompanyIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyIdentification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyVatNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyIdentity" nillable="true" type="tns:CompanyIdentity" />
  <xs:simpleType name="CustomerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Individual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Company">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CustomerType" nillable="true" type="tns:CustomerType" />
  <xs:complexType name="IndividualIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Initials" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndividualIdentity" nillable="true" type="tns:IndividualIdentity" />
  <xs:complexType name="ArrayOfOrderStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderStatus" type="tns:OrderStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderStatus" nillable="true" type="tns:ArrayOfOrderStatus" />
  <xs:simpleType name="OrderStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Created" />
      <xs:enumeration value="Active" />
      <xs:enumeration value="Denied" />
      <xs:enumeration value="Closed" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Pending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderStatus" nillable="true" type="tns:OrderStatus" />
</xs:schema>